<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>Comment-DisabledAML</key>
		<string>Disable other forms of CPU PM due to SSDT/Generate/PluginType=true</string>
		<key>DSDT</key>
		<dict>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>Comment-IRQ Fix</key>
				<string>Fix ACPI floating regions; by serdeliuk</string>
				<key>FixRegions</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Replace &quot;_BIX&quot; with &quot;XBIX&quot;; by serdeliuk</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X0JJWA==</data>
					<key>Replace</key>
					<data>WEJJWA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Replace &quot;SMBR&quot; with &quot;XMBR&quot;; by serdeliuk</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U01CUg==</data>
					<key>Replace</key>
					<data>WE1CUg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Replace HECI with IMEI ; by serdeliuk</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Replace GFX0 with IGPU ; by serdeliuk</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change Method(GPRW,2,N) to XPRW (SSDT-GPRW.dsl)</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
				</dict>
			</array>
			<key>Debug</key>
			<false/>
		</dict>
		<key>DisabledAML</key>
		<array>
			<string>SSDT.aml</string>
			<string>SSDT-XCPM.aml</string>
			<string>SSDT-PluginType1.aml</string>
		</array>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>xh_rvp10</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>NoOemTableId</key>
			<false/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Arguments</key>
		<string>-v dart=0 nv_disable=1 -cdfon</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>Timeout</key>
		<integer>50</integer>
	</dict>
	<key>Comment</key>
	<string>This file is for 10.14.x with native CoffeeLake support</string>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>0</integer>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>#IntelGFX</key>
			<string>0x59168086</string>
			<key>#Kaby Lake-Comment</key>
			<string>To avoid automatic Clover fake device-id (Skylake) injection</string>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0)/Pci(0x02,0)</key>
			<dict>
				<key># DVMT-prealloc</key>
				<string>32MB BIOS, 19MB framebuffer, 9MB cursor bytes (credit RehabMan)</string>
				<key># Note1</key>
				<string> no HDMI example in CoffeeLake, flags 86090000 seen in CannonLake?</string>
				<key>## @0 LVDS-&gt;DP</key>
				<string></string>
				<key>## @1 HDMI</key>
				<string></string>
				<key>## @2 HDMI</key>
				<string></string>
				<key>## @3 HDMI</key>
				<string></string>
				<key>#2 0204-&gt;0306</key>
				<string>0x3e9b0000, 0306 instead of 0204, HDMI</string>
				<key>#2 framebuffer-con2-alldata</key>
				<data>AwYIAAAEAADHAwAA</data>
				<key>#2 framebuffer-con2-enable</key>
				<integer>1</integer>
				<key>#3 framebuffer-con1-alldata</key>
				<data>/wAAAAEAAAAgAAAA/wAAAAEAAAAgAAAA</data>
				<key>#3 framebuffer-con1-enable</key>
				<integer>1</integer>
				<key>#3 no external</key>
				<string>0x3e9b0000, eliminate all external ports (0105 and 0204)</string>
				<key>#AAPL00,override-no-connect</key>
				<data></data>
				<key>#AAPL00,override-no-edid</key>
				<data></data>
				<key>#framebuffer-con0-enable</key>
				<integer>1</integer>
				<key>#framebuffer-con0-type</key>
				<data>AAQAAA==</data>
				<key>#framebuffer-con1-enable</key>
				<integer>1</integer>
				<key>#framebuffer-con1-flags</key>
				<data>hwEAAA==</data>
				<key>#framebuffer-con1-pipe</key>
				<data>EgAAAA==</data>
				<key>#framebuffer-con1-type</key>
				<data>AAgAAA==</data>
				<key>#framebuffer-con2-enable</key>
				<integer>1</integer>
				<key>#framebuffer-con2-flags</key>
				<data>hwEAAA==</data>
				<key>#framebuffer-con2-pipe</key>
				<data>EgAAAA==</data>
				<key>#framebuffer-con2-type</key>
				<data>AAgAAA==</data>
				<key>#framebuffer-con3-enable</key>
				<integer>1</integer>
				<key>#framebuffer-con3-flags</key>
				<data>hwEAAA==</data>
				<key>#framebuffer-con3-pipe</key>
				<data>EgAAAA==</data>
				<key>#framebuffer-con3-type</key>
				<data>AAgAAA==</data>
				<key>#hda-gfx</key>
				<string>onboard-1</string>
				<key>AAPL,ig-platform-id</key>
				<data>AACbPg==</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>framebuffer-patch-enable</key>
				<integer>1</integer>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1D,0x7)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>WLAN</string>
				<key>compatible</key>
				<string>pci14e4,43a3</string>
				<key>device_type</key>
				<string>Airport Extreme</string>
				<key>model</key>
				<string>BCM4350 802.11ac Wireless Network Adapter</string>
				<key>name</key>
				<string>Airport</string>
				<key>pci-aspm-default</key>
				<integer>0</integer>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,3</string>
				<key>device_type</key>
				<string>Audio device</string>
				<key>layout-id</key>
				<data>HAAAAA==</data>
				<key>model</key>
				<string>Cannon Lake PCH cAVS</string>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>#ScreenResolution</key>
		<string>1920x1080</string>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
				        <key>Disabled</key>
				        <false/>
				        <key>FullTitle</key>
				        <string>VirtualBiosMod</string>
				        <key>Hidden</key>
				        <false/>
				        <key>Ignore</key>
				        <false/>
				        <key>Path</key>
				        <string>\EFI\VirtualBiosMod\VirtualBiosMod.efi</string>
				        <key>Type</key>
				        <string>Linux</string>
					<key>Arguments</key>
					<string>reboot</string>
				</dict>
				<dict>
				        <key>Disabled</key>
				        <false/>
				        <key>FullTitle</key>
				        <string>CleanNvram</string>
				        <key>Hidden</key>
				        <false/>
				        <key>Ignore</key>
				        <false/>
				        <key>Path</key>
				        <string>\EFI\CleanNvram\CleanNvram.efi</string>
				        <key>Type</key>
				        <string>Linux</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Hidden</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>Title</key>
					<string>Windows</string>
					<key>Type</key>
					<string>Windows</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>Recovery</string>
		</array>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>embedded</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>#EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>#ig-platform-id</key>
		<string>0x3e9b0000</string>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
                        <dict>
                                <key>Comment</key>
                                <string>KbeBS-EXT (kuckkuck)</string>
                                <key>Count</key>
                                <integer>1</integer>
                                <key>Disabled</key>
                                <false/>
                                <key>Find</key>
                                <data>
                                6NQAAADrBeg=
                                </data>
                                <key>MaskFind</key>
                                <data>
                                /wD///////8=
                                </data>
                                <key>MaskReplace</key>
                                <data>
                                AAAAAAD///8=
                                </data>
                                <key>MatchOS</key>
                                <string>10.16</string>
                                <key>Replace</key>
                                <data>
                                6NQAAACQkOg=
                                </data>
                                <key>StartPattern</key>
                                <data>
                                AQAx/74UAAU=
                                </data>
                        </dict>
                        <dict>
                                <key>Comment</key>
                                <string>KbeBS-SIP (kuckkuck)</string>
                                <key>Count</key>
                                <integer>1</integer>
                                <key>Disabled</key>
                                <false/>
                                <key>Find</key>
                                <data>
                                6HXmDgCFwA+E+gAAAEmLRQ==
                                </data>
                                <key>MaskFind</key>
                                <data>
                                /wAAAP//////AP///////w==
                                </data>
                                <key>MaskReplace</key>
                                <data>
                                AAAAAAAAAP///////wAAAA==
                                </data>
                                <key>MatchOS</key>
                                <string>10.16</string>
                                <key>Replace</key>
                                <data>
                                6HXmDgCFwJCQkJCQkEmLRQ==
                                </data>
                                <key>StartPattern</key>
                                <data>
                                AgAAQb8BAADc
                                </data>
                        </dict>
                        <dict>
                                <key>Comment</key>
                                <string>KbeBS-KxldUnmap (vit9696, kuckkuck)</string>
                                <key>Count</key>
                                <integer>1</integer>
                                <key>Disabled</key>
                                <false/>
                                <key>Find</key>
                                <data>
                                /4A9JZxOAAAPhRcBAABB
                                </data>
                                <key>MaskFind</key>
                                <data>
                                ////AAAA/////wD/////
                                </data>
                                <key>MaskReplace</key>
                                <data>
                                AAAAAAAAAAD//wAAAAAA
                                </data>
                                <key>MatchOS</key>
                                <string>10.16</string>
                                <key>Replace</key>
                                <data>
                                /4A9JZxOAACQ6RcBAABB
                                </data>
                                <key>StartPattern</key>
                                <data>
                                SI0VKyYlAA==
                                </data>
                        </dict>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 release kernel (credit vit9696)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>igKEwHRE</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Replace</key>
				<data>igKEwOtE</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 release kernel (credit vit9696)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>igKEwHRC</data>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Replace</key>
				<data>igKEwOtC</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>ProductName</key>
		<string>MacBookPro15,1</string>
		<key>Trust</key>
		<true/>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
